

body,html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100vh;
    overflow-x: hidden;
    position: relative;
}
nav {
  height: 10vh;
  margin: 0;
    display: flex;
    flex-flow: column wrap;
    background: firebrick;
    color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: inset 0 -5px 0px #842627;
}
.logo-nav {
    margin: 10px;
    /*background: url('./assets/loguito.png');*/
}
#ham {
    display: none;
    align-self: flex-end;
    height: 100%;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}
nav h3 {
  margin: 0;
  align-self: flex-start;
  height: 100%;
  display: flex;
  align-items: center;
}
nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  height: 100%;
  width: 30%;
  font-weight: bold;
}
nav ul a {
  text-decoration: none;
  color: #fff;
}
nav ul li {
  padding: 0 20px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

nav ul li:hover {
  background: rgba(100,100,100,.2);
}
section {
  min-height: 80vh;
  height: 80vh;
  background: rgba(100,100,100,.4)
}
#principal {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: #842627;
  height: 90vh;
  background-position: bottom;
  width: 100%;
  margin: 0 auto;
}
.slider {
  position: relative;
  background: #FFF;
  width: 95%;
  height: 90%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  visibility: visible;
  transition: 1s all ease-in-out;
  box-shadow: 2px 2px 10px rgba(50,50,50,1);
  z-index: 5;
  overflow-x: hidden;
}
.slider .info .data p:last-child {
    margin-top: 0;
}
#active{
  opacity: 1;
  transition: .7s all ease-in-out;
}
.info {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-size: cover;
  visibility: visible;
  transition: .7s all ease-in-out;
}
.brand {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}
.logo {
  /*background: url(../assets/logo.jpg);*/
  background-size: contain;
  border-radius: 50%;
  display: flex;
  flex-flow: row nowrap;
  height: 150px;
  width: 150px;
  box-shadow: inset 0px 0px 50px rgba(50,50,50,1);
  /*border: thick solid rgba(200,50,50,.7);*/
}
.data {
  height: 80%;
  width: 30%;
  padding: 0 5%;
  color: black;
  font-size: 1.1em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background: rgba(255,255,255,.9);
  border-radius: 20px;
}
.galeria {
  width: 200px;
  height: 200px;
  margin-top: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}
.first {
  background: url(./assets/papers.jpeg);
  background-position: bottom right;
  background-size: cover;
}

.first .data {
  margin-left: 45%;
}
.second {
  background: url(./assets/estrellas.jpg);
  background-size: cover;
}
.third {
  background: url(./assets/jardin.jpg);
  background-size: cover;
  background-position: center;
}

.third .data {
  text-align: center;
}
.third .data a {
  text-decoration: none;
  width: 130px;
  height: 50px;
  background: firebrick;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  color: #842627;
  position: absolute;
  right: -5px;
}
.right {
  color: #842627;
  position: absolute;
  left: -5px;
}
.slider i {
  font-size: 4em;
  cursor: pointer;
  height: 100%;
  background: firebrick;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 4%;
  box-shadow: 2px 2px 10px rgba(50,50,50,1),inset 0 0 10px rgba(50,50,50,.5);
}
.slider i {
  box-shadow: 2px 2px 10px rgba(50,50,50,1);
}
.left {
  /*border-radius: 0 50% 50% 0; */
}
.right {
  /*border-radius: 50% 0 0 50%;*/
}
.column {
  flex-flow: column wrap !important;
}
.apagado {
  transition: 1s all ease-in-out;
  display: none;
  visibility: hidden;
}

.indicadores {
  position: absolute;
  bottom: 20px;
  right: 5%;
  width: 100px;
  display: flex;
  justify-content: space-around;
  z-index: 200;
}

.pick {
  background: rgba(200,50,50,.4) !important;
}

.indicador {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,.5);
  border-radius: 50%;
  cursor: pointer;
}

/*Descripcion*/
#descripcion{
  height: 100vh;
  width: 100%;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.descripcion {
  height: 80vh;
  width: 40vw;
  font-family: 'Source Sans Pro', sans-serif;
  color: firebrick;
  font-size: 25px;
  padding-left: 5%;
  margin-left: 5%;
  border-left: thin firebrick solid;
}
.descripcion p {
  text-align: justify;
  color: rgba(20,20,20,1);
}
#descripcion .imagen {
  height: 80vh;
  width: 40%;
  background: url(./assets/inside.jpg);
  background-size: cover;
  border-radius: 10% 0 0 10%;
}

/*Servicios*/
.catalogo {
  background: #FFF;
  display: flex;
  flex-flow: row wrap;
  border-top: solid firebrick thick;
  box-shadow: inset 0 0 10px rgba(20,20,20,.4);
  padding: 5vh 0;
  min-height: 90vh;
  height: auto;
}
.catalogo .barra {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 10%;
  border-bottom: medium solid rgba(50,50,50,.2);
}

#catalogo .barra {
  margin-bottom: 50px;
}
.buscador {
  display: flex;
  justify-content: center;
  height: 30px;
  /* border: 2px solid lightgray; */
  box-shadow: 2px 1px 1px 2px rgba(100,100,100,.1);
  border-radius: 7px;
  width: 300px;
  margin-right: 10%;
}
.buscador i {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px !important;
  color: firebrick;
}
.buscador input {
  border: none;
  width: 98%;
  padding-left: 5%;
}

.catalogo h3 {
  font-size: 2em;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10%;
  color: firebrick;
}
.catalogo .contenedor{
  min-height: 84vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.catalogo .contenedor i {
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: firebrick;
  font-weight: bold;
  cursor: pointer;
}
.catalogo .contenedor .carta {
  cursor: pointer;
  width: 300px;
  height: 300px;
  margin: 30px;
  box-shadow: 2px 2px 5px rgba(50,50,50,.5);
  opacity: 0;
  animation: fade 1s ease forwards;
}

@keyframes fade {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

.catalogo .contenedor .carta .imagen {
  width: 100%;
  height: 70%;
  background-size: cover !important; 
  background: url('./assets/inside.jpg');
}
.catalogo .contenedor .carta .titulo {
  height: 30%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.ver {
  width: 20%;
  margin: 0 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.ver p {
  margin-top: 0;
  color: firebrick;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

#contacto {
  min-height: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#contacto h2 {
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 2em;
  color: firebrick;
  font-family: 'Open Sans';
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#contacto h2 i {
  margin-right: 10px;
}
#contacto form {
  height: 100%;
  width: 60%;
  background: white;
  padding: 12% 20% 5%;
  color: firebrick;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}
form label {
  font-family: 'Open Sans', sans-serif;
  width: 95%;
  padding-left: 5%;
  align-items: left;
}
form input[type="text"], form input[type="email"] {
  font-family: 'Source Sans Pro', sans-serif;
  border: thin solid lightgray;
  border-radius: 4px;
  box-shadow: none;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 5%;
  outline: none;
  width: 70%;
}

form input:focus {
  transition: .5s all ease-in-out;
  border: firebrick thin solid;
  background: rgba(208,50,50,.1);
}

form select {
  font-family: 'Source Sans Pro', sans-serif;
  background: #FFF;
  border-radius: 4px;
  border: thin solid lightgray;
  box-shadow: none;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 5%;
  outline: none;
  width: 80%;
}

form select:focus {
  transition: .5s all ease-in-out;
  border: firebrick thin solid;
  background: rgba(208,50,50,.1);
}

form select:focus option {
  background: white;
}
form textarea {
  font-family: 'Source Sans Pro', sans-serif;
  background: #FFF;
  border: thin solid lightgray;
  border-radius: 4px;
  box-shadow: none;
  height: 70px;
  margin-bottom: 20px;
  margin-top: 10px;
  outline: none;
  padding: 2% 5%;
  resize: none;
  width: 70%;
}

form textarea:focus {
  transition: .5s all ease-in-out;
  border: firebrick thin solid;
  background: rgba(208,50,50,.1);
}

form input[type="submit"] {
  align-self: flex-end;
  background: firebrick;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: 'Open Sans';
  font-size: 1.2em;
  height: 40px;
  margin-top: 10px;
  margin-right: 10%;
  width: 100px;
}

footer {
  height: 5vh;
  background: firebrick;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}
footer p {
  margin: 0;
  position: absolute;
  right: 5%;
  font-weight: bold;
  font-size: .8em;
  font-family: 'Open Sans'
}
footer h3 span{
  font-weight: normal;
}
footer i {
  font-size: 1.5em !important;
  cursor: pointer;
}
.contenido-footer {
    width: 100%;
    display: flex;
    /* flex-flow: column nowrap; */
    justify-content: center;
    align-items: center;
    position: relative;
}
.facebook {
    cursor: pointer;
    color: white;
    position: absolute;
    left: 5%;
    top: 1px;
    align-self: flex-end;
    font-size: 14px;
}

footer h3 {
    /* position: absolute; */
    /* left: 5%; */
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    margin-right: 30px;
    /* align-self: center; */
    color: white;
}

.modalon {
    transition: 1s all ease-in-out;
    left: 0% !important;
    transform: opacity(1);
}
#modal {
    background: white;
    top: 0;
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 6;
    transform: opacity(0);
    transition: 1s all ease-in-out;
}
#modal a {
    text-decoration: none;
}
#modal .brand {
    background: rgba(178,34,34,.9);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    color: #FFF;
    box-shadow: inset 0 -5px 0px #842627;
}
#modal .brand #cerrar {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}
#modal .brand .logo-nav {
    position: absolute;
    top: 13px;
    right: 15px;
    margin: 0;
}
#modal ul {
    width: 100%;
    min-height: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#modal ul li {
    width: 100%;
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
#modal ul li:hover {
    background: rgba(250,250,250,1);
}
#modal .modal-footer {
    width: 100%;
    height: 5vh;
    background: firebrick;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
}
#modal .modal-footer a {
  color: white;
}
.modal-footer i {
    cursor: pointer;
}

#impresion {
    background: url(./assets/impresion.jpeg);
}

#plano {
    background: url(./assets/plano.jpeg);
}

#copias {
    background: url(./assets/copias.jpeg);
}

#irArriba {
    text-decoration: none;
    position: fixed;
    width: 60px;
    height: 60px;
    background: rgba(190,20,20,.9);
    box-shadow: 0 0 10px rgba(40,40,40,.2);
    bottom: 45px;
    right: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(250,250,250,.9);
    cursor: pointer;
}

.cargando {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@keyframes cargando {
  0% {
    width: 10px;
    height: 10px;
  }

  100% {
    width: 40px;
    height: 40px;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.formExterno { 
  min-height:500px; 
  height:700px; 
  overflow:auto;
  background: white;
}



/* Productos */

#cartuchera {
  background: url(./assets/product1.jpg);
}
#lego {
  background: url(./assets/product2.jpg)
}
#marcadores {
  background: url(./assets/product3.jpg)
}
#agenda {
  background: url(./assets/product4.jpg);
}
#plastilina {
  background: url(./assets/product5.png)
}
#masa {
  background: url(./assets/product6.png);
}
#kit {
  background: url(./assets/product7.jpg);
}
#stickers {
  background: url(./assets/product8.jpg);
}
#pintura {
  background: url(./assets/product9.jpg);
}
#sharpie {
  background: url(./assets/product10.jpg);
}


@media screen and (max-width:900px) {
    .first .data {
      margin-left: 0%;
      padding: 0 10%;
      width: 55%;
    }
    #contacto form {
      width: 80%;
      padding: 12% 10% 5%;
    }
    nav h3 {
        font-size: .8em;
    }
    .slider {
        width: 100% !important;
        height: 100%;
    }
    #contacto {
        padding-top: 150px;
        height: 565px;
        padding-bottom: 50px;
        background: white;
    }
    #descripcion {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .descripcion {
        width: 80%;
        margin-left: 0;
        border-left: 0;
        border-top: medium solid firebrick;
        padding: 0 10%;
    }
    #descripcion .imagen {
        border-radius: 0% !important;
        width: 90% !important;
        height: 60vh !important;
        margin-bottom: 5%;
    }
    .enviar {
        margin-top: 10px;
        margin-left: 0;
        align-self: center;
    }
    .fila {
        flex-flow: column;
        align-items: center;
    }
    .info {
        border-radius: 0;
    }
    #left {
        display: none;
    }
    #right {
        display: none;
    }
    #ham {
        display: flex;
    }
    #menu {
        display: none;
    }
    .slider {
        width: 80%;
        border-radius: 0;
    }
    .logo {
        display: none;
    }
    .second .data {
        margin-left: 0;
        width: 60%;
    }
    .second .galeria {
        display: none;
    }
    .third .data {
        width: 60%;
    }
    .data {
        width: 80%;
    }
    .descripcion {
        font-size: 19px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
    .catalogo h3 {
        margin: 0 9%;
    }
    .barra {
        flex-flow: column;
    }
    .catalogo .barra .buscador {
        margin-right: 0;
        margin: 20px 0;
    }
    #servicios h3 {
        margin-bottom: 20px;
    }
    #irArriba {
        position: fixed;
        width: 50px;
        height: 50px;
        background: rgba(190,20,20,.9);
        box-shadow: 0 0 10px rgba(40,40,40,.2);
        bottom: 45px;
        right: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(250,250,250,.9);
        cursor: pointer;
    }
}
